:root {
  --color: cyan;
  --bg1: #020617;
  --bg2: #0f172a;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle, var(--bg1), var(--bg2));
  color: white;
  overflow-x: hidden;
}

/* brillo de fondo */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, transparent, black 80%);
  pointer-events: none;
}

.dashboard {
  text-align: center;
  padding: 20px;
}

.titulo {
  color: var(--color);
  text-shadow: 0 0 20px var(--color);
}

/* panel principal */
.panel {
  margin: auto;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px var(--color);
}

/* distancia */
.distancia {
  font-size: 60px;
  color: var(--color);
  text-shadow: 0 0 15px var(--color);
}

.estado {
  margin-bottom: 10px;
  opacity: 0.7;
}

/* radar */
.radar {
  width: 180px;
  height: 180px;
  border: 2px solid var(--color);
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  box-shadow: 0 0 20px var(--color);
}

.linea {
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--color);
  top: 50%;
  transform-origin: left;
  animation: rotar 2s linear infinite;
}

.onda {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color);
  border-radius: 50%;
  animation: pulso 2s infinite;
}

.centro {
  width: 10px;
  height: 10px;
  background: var(--color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* barra */
.barra {
  height: 12px;
  background: #222;
  border-radius: 10px;
}

#nivel {
  height: 100%;
  width: 0%;
  background: var(--color);
  box-shadow: 0 0 10px var(--color);
  transition: 0.4s;
}

/* pista */
.pista {
  height: 80px;
  background: #111;
  border-radius: 10px;
  margin-top: 15px;
  position: relative;
}

#carro {
  position: absolute;
  left: 0%;
  font-size: 40px;
  transition: 0.3s;
}

/* animaciones */
@keyframes rotar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes pulso {
  0% { transform: scale(0.3); opacity: 1; }
  100% { transform: scale(1.5); opacity: 0; }
}
